<footer id="contact" class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          <p><a href="mailto:biancamvaguilar@gmail.com">biancamvaguilar@gmail.com</a></p>
          <!--
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- endif -%}
            </li>
              {%- if site.email -%}
            <li>
                <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
              {%- endif -%}
            -->
          </ul>
          
        </div>
  
        <div class="footer-col footer-col-3">
          {%- include social.html -%}
        </div>

        <div class="footer-col footer-col-4">
          <a href="#top">
            <p>Back to top</p>
          </a>
        </div>

      </div>
  
    </div>
  
  </footer>